/**
*    Toshl buttons
*
*    Skin: Default
*
*    @author  David Panzalović
*    @version 1.0
**/

/* =Separator
----------------------------------------------- */
.separator {
    border-bottom: 1px solid #afa691;
}

    .separator > .buttons {
        background-color: #dcd4be;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }

/* =Buttons
----------------------------------------------- */
.buttons_set {
    text-align: center;
}

.buttons > li {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background: #575757 url(../../../../images/Default/bg_buttons.png) no-repeat top right;
}

.buttons > li:hover           { background-color: #7a7872 }
.buttons > li.selected        { background-color: #ad242a }
.buttons.alter > li           { background-color: #afa691 }
.buttons.alter > li:hover     { background-color: #9b9381 }
.buttons.alter > li.selected  { background-color: #575757 }
.buttons > li.income.selected { background-color: #53944e }

    .buttons > li a {
        text-decoration: none;
        background: url(../../../../images/Default/bg_buttons.png) no-repeat top left;
        color: #fff;
    }

.buttons > li.l {
    background-image: none;
}

    .buttons > li:first-child a { background: none }

.buttons > li.selected {
    background-color: #ad242a;
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.45);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.45);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.45);
}

    .buttons > li.selected a       { background-position: 0  -50px }
    .buttons.alter > li.selected a { background-position: 0 -100px }

.buttons > li.sync {
    background: url(../../../../images/Default/sprite/sprite_icons.png) no-repeat -450px -1530px;
}

.buttons > li.sync.selected {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Fancy buttons */
.fancy_button {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background: #ad242a; /* Old browsers */
    background: -moz-linear-gradient(top, #de363d 0%, #ad242a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#de363d), color-stop(100%,#ad242a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #de363d 0%,#ad242a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #de363d 0%,#ad242a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #de363d 0%,#ad242a 100%); /* IE10+ */
    background: linear-gradient(top, #de363d 0%,#ad242a 100%); /* W3C */
    border: 1px solid #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius 6px;
    -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.4);
    color: #fff;
}

.fancy_button.mini {
    font-size: 20px;
    text-align: left;
}

.fancy_button:hover {
    text-decoration: underline;
}

.fancy_button.ne {
    background: #4d4d4d; /* Old browsers */
    background: -moz-linear-gradient(top, #b3b3b3 0%, #4d4d4d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3b3b3), color-stop(100%,#4d4d4d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b3b3b3 0%,#4d4d4d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b3b3b3 0%,#4d4d4d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b3b3b3 0%,#4d4d4d 100%); /* IE10+ */
    background: linear-gradient(top, #b3b3b3 0%,#4d4d4d 100%); /* W3C */
}

.fancy_button.gopro {
    font-size: 20px;
}

    .fancy_button .arrow {
        text-indent: 100%;
        white-space: nowrap;
        background: url(../../../../images/Default/arrow_right_big.png) no-repeat 0 0;
    }

/* Share buttons */
.sns_share a {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background: url(../../../../images/Default/sprite/sprite_icons.png) no-repeat 0 -1850px;
    color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.sns_share a.fb { background-color: #4263a2 }
.sns_share a.tw { background-color: #20a9dd; background-position: -300px -1850px }

/* Special buttons */
.button_google {
    font-size: 16px !important;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #4d4d4d;
}

    .button_google .red    { background-color: #d32816 }
    .button_google .blue   { background-color: #3167ea }
    .button_google .green  { background-color: #239b12 }
    .button_google .yellow { background-color: #ebb500 }

    .button_google .red {
        -webkit-border-radius: 5px 0 0 0;
        -moz-border-radius: 5px 0 0 0;
        border-radius: 5px 0 0 0;
    }

    .button_google .yellow {
        -webkit-border-radius: 0 5px 0 0;
        -moz-border-radius: 0 5px 0 0;
        border-radius: 0 5px 0 0;
    }
