/**
*    Toshl Form
*
*    Skin: Default
*
*    @author  Frenk T. Sedmak Nahtigal
*    @author  David Panzalović
*    @version 1.1
**/

/* =Form layout
----------------------------------------------- */
#overlay_container > div dl {
    font-weight: bold;
}

    #overlay_container > div dl dt {
        text-align: right;
    }

    #overlay_container > div .wide dt {
        text-align: left;
    }

/* =Buttons
----------------------------------------------- */
.button {
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #ad242a;
}

    .income .button {
        background-color: #53944e;
    }

    .button.grey {
        background-color: #575757;
    }

.button.blank {
    font-size: 12px;
    background: none;
    color: #ad242a;
}

    #overlay_container .button { font-size: 16px; }

    #overlay_container .button.blank {
        font-size: 14px;
        font-weight: normal;
        background: none;
    }

    #overlay_container.income .button.blank {
        color: #53944e;
    }

.button.blank.mili {
    font-size: 14px;
}

a.button {
    text-align: center;
    text-decoration: none;
}

a.button.blank:hover {
    text-decoration: underline;
}

.button.disabled,
.button[disabled="disabled"] {
    background-color: #afa691;
}

/* Special */
.button.demo {
    font-size: 22px;
    background-position: -1100px 0;
}

.button.plus {
    font-size: 32px;
}

.button.search {
    text-indent: -99999px;
    background: #fff url(../../../../images/Default/sprite/sprite_icons.png) no-repeat -390px -1244px;
}

.button.promo {
    font-size: 16px;
    background: #ad242a url(../../../../images/Default/sprite/sprite_getpro.png) no-repeat 110px -345px;
}

.button.on,
.button.off {
    text-indent: -9999px;
    background: url(../../../../images/Default/sprite/sprite_onoff.png) no-repeat top left;
}

.button.on { background-position: bottom left }

/* =Inputs
----------------------------------------------- */
.input {
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: #fff;
    color: #000;
}

/* Special */
.input.search {
    font-size: 14px;
}

.input.editTags {
    color: #575757;
}

.input.tags.selected {
    color: #000;
}

.input.placeholder {
    color: #b3b3b3;
}

/* =Textaras
----------------------------------------------- */
.textarea {
    font-size: 12px;
    font-weight: bold;
    background-color: #fff;
    border: none;
    color: #575757;
}

#overlay_container .textarea { color: #000; }

/* =Selects
----------------------------------------------- */
.select {
    font-size: 13px;
    font-weight: bold;
    background: #fff url(../../../../images/Default/arrow_select.png) no-repeat right;
    color: #000;
}

.select.disabled {
    color: #575757;
}

.select.currency {
    font-size: 18px;
    background: #575757 url(../../../../images/Default/arrow_select_white.png) no-repeat right;
    color: #fff;
}

select {
    border: 0;
}

/* =Radios
----------------------------------------------- */
#delete_expense label {
    font-size: 14px;
    font-weight: bold;
}

.radio {
    font-size: 14px;
    font-weight: bold;
    background: url(../../../../images/Default/sprite/sprite_form_radio.png) no-repeat 0 0;
    cursor: pointer;
}

.radio.rchecked { background-position: -34px 0; }

/* =Errors
----------------------------------------------- */
.errors,
.input.error,
.textarea.error,
label.error,
.select.error,
input[type="text"].error {
    color: #ad242a;
}

.errors {
    font-size: 12px;
    font-weight: normal;
}

.input.error,
.textarea.error,
.select.error {
    background-color: #ffe8e9;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border: 3px solid #ad242a;
}
