/**
 *    Toshl Layout
 *
 *    @author  Frenk T. Sedmak Nahtigal
 *    @author  David Panzalović
 *    @author  Matej Keglevič
 *    @version 1.0
 **/

/* for displaying the vertical & horizontal grid */
/*@import url(../Tools/grids.css);

/* =COMMON
----------------------------------------------- */
html {
    height: 100%;
}

body {
    width: 987px;
    margin: 0 auto;
}

hr, legend {
    display: none;
}

/* =wrapper
----------------------------------------------- */
#wrapper {
    width: 947px; /*987px*/
    padding: 0 20px 40px 20px;
    margin-top: 18px;
    float: left;
    position: relative;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* =header
----------------------------------------------- */
#header {
    width: 100%;
    min-height: 89px;
    padding: 17px 20px 16px 20px;
    float: left;
    position: relative;
    top: 0px;
    left: -20px;
    z-index: 1020;
}

#header.user {
    min-height: 105px;
    margin-bottom: 48px;
    padding: 17px 20px 0 20px;
}

#header.deactivated {
    min-height: 40px;
    padding-bottom: 6px;
    margin-bottom: 20px;
}

    #header .toshl_logo {
        width: 159px;
        height: 53px;
        margin: 10px 20px;
        display: block;
        float: left;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
    }

    #header h1 {
        width: 170px;
        height: 40px;
        margin: 10px 20px 10px 20px;
        float: left;
        font-size: 24px;
    }

    #header.user h1 {
        width: 136px;
        height: 36px;
        margin: 0 0 12px 20px;
    }

        #header h1 a {
            width: 100%;
            height: 100%;
            display: block;
        }

    /* =Notifications dropdown
    ----------------------------------------------- */
    #header > dl {
        width: 465px; /* 565px */
        line-height: 20px;
        padding: 8px 0;
        margin: 0 40px 12px 0;
        float: left;
        position: relative;
    }

    #header.user > dl + ul {
        width: 264px;
        height: 36px;
        line-height: 36px;
        padding: 22px 0 48px 0;
        margin: -22px 0 -36px;
        float: left;
    }

        #header.user > dl + ul > li {
            width: 132px;
            float: left;
        }

            #header.user > dl + ul > li + li a {
                width: auto;
                height: 36px;
                line-height: 36px;
                padding-left: 40px;
                display: inline-block;
            }

    /* =User menu
    ----------------------------------------------- */
    #user_menu {
        width: 905px;
        height: 41px;
        padding: 8px 20px 8px 20px;
        float: left;
        clear: left;
        position: relative;
        z-index: 1030;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

        #user_menu > li { float: left; }

        #user_menu > li:first-child           { width: 460px; margin-right: 20px; }
        #user_menu > li:first-child + li      { width: 190px; margin-right: 40px; }
        #user_menu > li:first-child + li + li { width: 195px; }

        #user_menu.not_pro > li:first-child + li      { width: 168px; }
        #user_menu.not_pro > li:first-child + li + li { width: 217px; }

        /* =User menu > last sync
        ----------------------------------------------- */
        .buttons > li.sync {
            width: auto;
            min-width: 20px;
            margin-left: 10px;
            position: relative;
        }

            .buttons > li.sync:hover {
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
            }

            .buttons > li.sync a {
                width: 42px;
                margin: 0;
                padding: 0 10px;
                left: 0;
            }

            .buttons > li.sync.now a { width: 54px; }

            .buttons > li.sync > div {
                width: 225px;
                padding: 15px 15px;
                float: left;
                display: none;
                position: absolute;
                top: 34px;
                left: 0;
            }

            .buttons > li.sync.selected {
                -moz-border-radius: 5px 5px 0 0;
                -webkit-border-radius: 5px 5px 0 0;
                border-radius: 5px 5px 0 0;
            }

            .buttons > li.sync.selected > div {
                display: block;
                -moz-border-radius: 0 5px 5px 5px;
                -webkit-border-radius: 0 5px 5px 5px;
                border-radius: 0 5px 5px 5px;
            }

                .buttons > li.sync > div h5,
                .buttons > li.sync > div p {
                    width: 100%;
                    float: left;
                    line-height: 1.4;
                }

                    .buttons > li.sync > div p strong {
                        display: block;
                        margin: 6px 0 8px 0;
                    }

        #user_menu > li > p {
            line-height: 41px;
        }

        /* =User menu > dropdown menu
        ----------------------------------------------- */
        #dropdown {
            width: auto;
            margin-top: 4px;
            float: right;
        }

            #dropdown > li {
                width: auto;
                height: 33px;
                margin-left: 5px;
                float: left;
                position: relative;
            }

            #dropdown > li.email {
                height: 35px;
            }

            #dropdown > li:first-child {
                margin-left: 0;
            }

                #dropdown > li > a {
                    height: 33px;
                    line-height: 33px;
                    padding: 0 30px 0 20px;
                    display: block;
                    position: relative;
                }

                #dropdown > li.selected > a {
                    -moz-border-radius: 5px 5px 0 0;
                    -webkit-border-radius: 5px 5px 0 0;
                    border-radius: 5px 5px 0 0;
                }

                #dropdown > li.email > a {
                    padding: 0 10px;
                }

                #dropdown > li.email.selected > a {
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                }

                    #dropdown > li > a > span {
                        width: 0;
                        height: 0;
                        display: block;
                        overflow: hidden;
                        position: absolute;
                        top: 16px;
                        right: 20px;
                    }

                #dropdown > li > form {
                    display: none;
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                }

                #dropdown > li.selected > form {
                    width: 255px;
                    padding: 10px 0;
                    display: block;
                    position: absolute;
                    top: 30px;
                    left: -41px;
                    z-index: 1010;
                }

                    #dropdown > li > form > fieldset {
                        width: 225px;
                        margin: 0 15px;
                        float: left;
                    }

                    #dropdown > li > form > fieldset:first-child {
                        padding: 16px 15px 0 15px;
                        margin: 0;
                        position: relative;
                        top: -10px;
                    }

                    #dropdown dl {
                        width: 100%;
                        float: left;
                    }

                        #dropdown dt {
                            width: 100%;
                            float: left;
                        }

                        #dropdown dd + dt {
                            margin-top: 10px;
                        }

                            #dropdown dt label {
                                width: 198px;
                                line-height: 28px;
                            }

                        #dropdown dd {
                            width: 100%;
                            float: left;
                        }

                            #dropdown dd input {
                                margin: 5px 10px 5px 26px;
                                float: left;
                            }

                            #dropdown dd label {
                                width: 176px;
                                line-height: 24px;
                            }

                    #dropdown label {
                        width: 201px;
                        line-height: 16px;
                        margin-bottom: 6px;
                        float: left;
                    }

                    #dropdown > li ul,
                    #dropdown > li ul li {
                        width: 100%;
                        float: left;
                    }

                    #dropdown > li ul {
                        padding: 10px 0;
                    }

                        #dropdown > li #export ul {
                            padding-bottom: 0;
                        }

                        #dropdown > li #export ul li {
                            width: 243px;
                            height: 55px;
                            margin: 0 -9px;
                        }

                            #dropdown > li #export ul li:hover {
                                -moz-border-radius: 5px;
                                -webkit-border-radius: 5px;
                                border-radius: 5px;
                            }

                            #dropdown > li #export ul li > button {
                                width: 243px;
                                height: 55px;
                                padding: 0 0 0 60px;
                            }

                            #dropdown > li #export ul li > div {
                                width: 183px;
                                height: 47px;
                                line-height: 38px;
                                padding: 8px 0 0 60px;
                            }

        /* =User menu > search
        ----------------------------------------------- */
        #user_menu #search {
            width: 195px;
            height: 33px;
            margin: 4px 0;
            float: left;
            position: relative;
        }

            #user_menu #search label {
                display: none;
            }

        /* If not PRO */
        #user_menu .gopro {
            width: 217px;
            height: 41px;
            float: left;
            display: block;
            position: relative;
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;
            border-radius: 8px;
        }

            #user_menu .gopro span {
                display: block;
                position: relative;
                line-height: 16px;
            }

            #user_menu .gopro > span {
                height: 66px;
                padding: 14px 0 0 62px;
                display: block;
                position: absolute;
                top: -8px;
                left: 5px;
            }

    /* =Header > anonymous
    ----------------------------------------------- */
    .login_nav {
        width: auto;
        float: right;
    }

        .login_nav li {
            width: auto;
            padding-top: 20px;
            float: left;
            margin-left: 20px;
        }

            .login_nav li > a {
                height: 33px;
                line-height: 33px;
                display: inline-block;
            }

    #login {
        float: left;
        position: relative;
    }

        #login > a {
            height: 31px;
            line-height: 31px;
            padding: 1px 20px;
            display: inline-block;
            float: right;
            position: relative;
            z-index: 1001;
        }

        #login.selected > a {
            height: 32px;
            padding: 0 19px;
        }

        #login.selected > a:after {
            content: "";
            display: block;
            width: 225px;
            height: 20px;
            position: absolute;
            top: 32px;
            right: 0px;
            z-index: 1010;
            background-color: #dcd4be;
        }

            #login .separator {
                width: 225px;
                padding: 27px 0 0 0;
                margin: 14px 0 0 0;
            }

            #login p { padding: 7px 0; }

            #login form {
                width: 227px;
                padding: 20px;
                display: none;
                position: absolute;
                top: 32px;
                right: 0px;
                z-index: 1000;
            }

            #login.selected form { display: block; }

                #login dl,
                #login dt,
                #login dd {
                    width: 100%;
                    float: left;
                    position: relative;
                }

                #login dt { margin-top: 20px; }

                #login dt:first-child { margin-top: 0; }

                #login dt.cb {
                    width: 200px;
                    margin: 20px 0 16px 0;
                    float: right;
                    line-height: 20px;
                }

                    #login dt.cb label { margin-bottom: 0; }

                #login dd.cb {
                    width: 25px;
                    height: 20px;
                    margin: 20px 0 8px 0;
                    float: left;
                }

                    #login dd.cb input {
                        width: 16px;
                        height: 16px;
                        position: relative;
                        top: 2px;
                    }

                #login label {
                    margin-bottom: 6px;
                    display: block;
                }

                #login input { margin: 0; }

                #login dt a {
                    position: absolute;
                    top: 2px;
                    right: 0;
                }

/* =content
----------------------------------------------- */
#content {
    width: 945px;
    /*min-height: 600px;*/
    float: left;
    clear: both;
    position: relative;
    z-index: 1010;
}

    #content h2 {
        width: 100%;
        margin-bottom: 16px;
        float: left;
        line-height: 32px;
    }

    #content p {
        width: 100%;
        float: left;
    }

    #content pre {
        width: 903px;
        margin: 0 !important;
        float: left;
    }

    /* Add new link */
    #content .addNew_container span:first-child {
        width: 28px;
        height: 28px;
        line-height: 30px;
        display: block;
        position: absolute;
        top: 0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    #content .addNew_container {
        width: 100%;
        overflow: hidden;
        position: relative;
    }

        #content .addNew {
            line-height: 28px;
            padding-left: 37px;
            margin-bottom: 24px;
            display: inline-block;
            float: left;
            position: relative;
        }

        #content .addNew_container span:first-child { left: 0 }

    /* Help link */
    .helpMe {
        width: 28px;
        height: 28px;
        line-height: 30px;
        margin-right: 20px;
        float: right;
        display: block;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    /* Content notice */
    .notice_big {
        width: 732px;
        min-height: 78px;
        margin-top: 26px;
        padding: 41px 34px 18px 179px;
        float: left;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        line-height: 32px;
    }

        .notice_big > p {
            width: 732px;
            float: left;
            line-height: 1.25;
        }

            .notice_big > p em,
            .notice_big > strong,
            .notice_big > p strong {
                width: 100%;
                float: left;
                display: block;
            }

            .notice_big > p em {
                margin-top: 24px;
            }

    /* Bubble */
    .bubble {
        padding: 10px 10px 150px 10px;
    }

        .bubble > div {
            width: 425px;
            padding: 50px 30px;
            position: relative;
        }

            #content .bubble p {
                line-height: 38px;
                float: none;
            }

                .bubble p strong {
                    display: block;
                }

            .bubble > div > span {
                width: 30px;
                height: 30px;
                display: block;
                overflow: hidden;
                position: absolute;
                right: -30px;
                bottom: 85px;
            }

            .bubble .monster {
                width: 241px;
                height: 247px;
                position: absolute;
                right: -241px;
                bottom: -118px;
            }

/* =footer
----------------------------------------------- */
#footer {
    width: 987px; /*987px*/
    padding-bottom: 40px;
    float: left;
    clear: both;
}

#useful_links {
    width: 947px;
    margin: 20px 20px 0 20px;
    line-height: 1.4;
    float: left;
}

    #useful_links > div {
        width: 189px;
        float: left;
    }

    #useful_links div:first-child,
    #useful_links .l {
        width: 190px;
    }

        #useful_links h3,
        #useful_links ul {
            padding-left: 24px;
        }

        #useful_links h3 {
            margin-bottom: 6px;
        }

            #useful_links li {
                margin-top: 8px;
            }

/* =Loading
* ----------------------------------------------- */
#content .loading,
.loading {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

#content .loading_txt,
.loading_txt {
    width: 100%;
    height: 16px;
    padding-top: 32px;
    margin-top: -24px;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 10001;
}

#content > .loading > .loading_txt {
    top: 300px;
}

    #header_totals #login_ddown .loading {
        width: 80%;
        height: 90%;
        left: 25px;
    }