<dl class="future">
  <dt><a href="#">Planned in August 2012<span>$ 98.00</span><span class="arrow"></span></a></dt>
  <dd>
    <ul>
      <li class="title">Tomorrow<span>$ 98.00</span></li>
      <li id="id_2012-08-25_71802" class="">
        writing center
        <em class="weekly">Weekly repeat</em>
        <span>$ 98.00</span>
      </li>
    </ul>
  </dd>
</dl>
<ul>
  <li class="title">Today<span>$ 123.00</span></li>
  <li id="id_6851855" class="">
    allowance, found money
    <span>$ 123.00</span>
  </li>
  <li class="title">Yesterday<span>$ 5,388.71</span></li>
  <li id="id_6835159" class="">
    1234
    <span>$ 200.00</span>
  </li>
  <li id="id_6835115" class="">
    temporary job
    <em class="monthly">Monthly repeat</em>
    <span>$ 5,000.00</span>
  </li>
  <li id="id_6284639" class="">
    paycheck
    <em class="monthly">Monthly repeat</em>
    <span>Rp 1,785,000.00</span>
  </li>
  <li class="title">18. 8. 2012<span>$ 98.00</span></li>
  <li id="id_6733533" class="">
    writing center
    <em class="weekly">Weekly repeat</em>
    <span>$ 98.00</span>
  </li>
  <li class="title">16. 8. 2012<span>$ 1,227.60</span></li>
  <li id="id_6699784" class="">
    Výplata
    <span>1,000.00 €</span>
  </li>
  <li class="title">11. 8. 2012<span>$ 98.00</span></li>
  <li id="id_6714817" class="">
    writing center
    <em class="weekly">Weekly repeat</em>
    <span>$ 98.00</span>
  </li>
  <li class="title">4. 8. 2012<span>$ 98.00</span></li>
  <li id="id_6448667" class="">
    writing center
    <em class="weekly">Weekly repeat</em>
    <span>$ 98.00</span>
  </li>
  <li class="title">1. 8. 2012<span>$ 3,500.00</span></li>
  <li id="id_6816029" class="">
    Monthly Salary, allowance
    <span>$ 3,500.00</span>
  </li>
</ul>
