<h3>Your Total Income : <%= current_user.incomes.sum(&:amount) %></h3>

<div class="addNew_container">
  <span>+</span>
  <a href="#myModal" data-toggle="modal" class="addNew">Add Income</a>
</div>

<div class="separator">
  <ul class="buttons">
    <li class="selected" id="timeline-btn"><a href="javascript:void(0)">Timeline</a></li>
    <li id='tags-btn'><a href="javascript:void(0)">Tags</a></li>
  </ul>
</div>

<div id="timeline-container">
  <%= render_cell :timeline, :index, :user => current_user, :component => "incomes" %>
</div>

<div id="tags-container" style="display: none;">
  <%= render_cell :tag, :index, :user => current_user, :component => "incomes" %>
</div>

<% content_for :popup do %>
  <%= render_cell :component, :new, :user => current_user, :component => "incomes" %>
<% end %>
