<div id="copyright">    
  <div class="container">
    <div class="left-label" class="grid-6">
      © 2013 Vision-2020. All Rights Reserved.
    </div>
    <div class="right-label" class="grid-6">
      <a href="#">Built by Interest.</a>
    </div>
  </div>
</div>